/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

@font-face {
    font-family: 'eve_alphabold';
    src: url(/css/fonts/eve-webfont.eot');
    src: url('/css/fonts/eve-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/eve-webfont.woff') format('woff'),
         url('/css/fonts/eve-webfont.ttf') format('truetype'),
         url('/css/fonts/eve-webfont.svg#eve_alphabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-image: url(/images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	color: #F5F5F5;
}
.wrapper {
	width: 900px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: rgba(28, 28, 28, 0.7);	
	position: relative;
}

a {
	color: #6495ED;
}
a:visited {
	color: #6495ED;
}
a:hover {
	color: #7B68EE;
}
a.active, a:hover  {
	font-weight: bold;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-family: eve_alphabold, Helvetica;
}

h1 {
	font-size: 34px;
	line-height: 31px;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
	background-color: #1C1C1C;
	width: 870px;
	margin: 0 auto;
	position: relative;
	top: 15px;
	background-image: url(/images/bg-header.jpg);
	background-repeat: no-repeat;
}

.header h1 {
	position: relative;
	top: 19px;
	margin-left: 110px;
}

.header a {
	display: block;
	position: absolute;
	top:6px;
	left: 6px;
	height:88px;
	width: 370px;
	border: none;
}

.header .input-wrap {
	width: auto;
	right: 10px;
	bottom: 10px;
	position: absolute;
}

.header .input-wrap input {
	background-color: rgba(28, 28, 28, 0.5);
	border: 1px solid #d5d5d5;
	color: #f5f5f5;
	width: 80px;
	height: 19px;
}

.header .input-wrap input[type=submit] {
	font-size: 12px;
	width: auto;
	font-family: eve_alphabold, Helvetica;
	height: 22px; 
}

.header .input-wrap p {
	font-family: eve_alphabold, Helvetica;
}

.header .input-wrap p span{
	display: inline-block;
	margin-right: 6px;
	font-family: eve_alphabold, Helvetica;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	position: relative;
	padding: 30px 15px 15px;
	width: 870px;
	min-height: 500px;
	display: block;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 870px;
	margin: -55px auto 0;
	height: 40px;
	background-color: #1C1C1C;
	position: relative;
}

.footer p {
	padding: 12px;
	text-align: center;
	font-family: eve_alphabold, Helvetica;
	font-size: 11px;
}

.footer p a {
	color: #F5F5F5;
	text-decoration: none;
}

.footer p a:hover {
	text-decoration: underline;
}

/* GRID
-----------------------------------------------------------------------------*/
.grid1, .grid2, .grid3, .grid4, .grid5 {
	display: inline-block;
	padding: 9px 15px;
}

.grid5 {
	width: 100%;
}
.grid4 {
	width: 80%;
}
.grid3 {
	width: 60%;
}
.grid2 {
	width: 40%;
}
.grid1 {
	width: 20%;
}
.clearfix {
	clear: both;
}



